@import url('https://fonts.googleapis.com/css?family=Roboto');

/* Global Styles */
:root {
    --primary-color: #0047ab;
    --dark-color: #333333;
    --light-color: #f4f4f4;
    --danger-color: #dc3545;
    --success-color: #28a745;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
    line-height: 1.6;
    background-color: #f6f6f6;
    color: #333;
}

a {
    color: var(--primary-color);
    text-decoration: none;
}

a:hover {
    color: #404040;
 
}

ul {
    list-style: none;
}

img {
    width: 100%;
}


.container {
    max-width: 1100px;
    margin: auto;
    overflow: hidden;
    padding: 0 2rem;
}

.x-large {
    font-size: 3rem;
    line-height: 1.2;
    margin-bottom: 1rem;
}

.large {
    font-size: 1.9rem;
    line-height: 1.2;
    margin-bottom: 1rem;
}

.medium {
    font-size: 1.6rem;
    line-height: 1.2;
    margin-bottom: 1rem;
}

.text-center {
    text-align: center;
}

.all-center {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: auto;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.uppercase {
    text-transform: uppercase;
}

.underline {
    text-decoration: underline;
}

.py-3 {
    padding: 3rem 0;
}

.my-1 {
    margin: 1rem 0;
}

.my-3 {
    margin: 3rem 0;
}

.mb {
    margin-bottom: 0.75rem;
}

.mb-1 {
    margin-bottom: 1rem;
}

.mt-2 {
    margin-top: 3rem;
}

.grid-2 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 1rem;
}

.grid-3 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 1rem;
}
  
.btn {
    display: inline-block;
    background: var(--light-color);
    color: #333;
    padding: 0.4rem 1.3rem;
    font-size: 1rem;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    margin-right: 0.5rem;
    transition: opacity 0.2s ease-in;
    outline: none;
}
  
.btn-link {
    background: none;
    padding: 0;
    margin: 0;
}
  
.btn-block {
    display: block;
    width: 100%;
}
  
.btn-sm {
    font-size: 1.5rem;
    padding: 0.3rem 1rem;
    margin-right: 0.2rem;
    text-align: center;
    margin-left: 80px;
}
  
.badge {
    display: inline-block;
    font-size: 1.0rem;
    padding: 0.2rem 0.7rem;
    text-align: center;
    margin: 0.3rem;
    background: var(--light-color);
    color: #333;
    border-radius: 5px;
}

.btn-primary,
.bg-primary,
.badge-primary,
.alert-primary {
    background: var(--primary-color);
    color: #fff;
}
  
.btn-light,
.bg-light,
.badge-light,
.alert-light {
    background: var(--light-color);
    color: #333;
}
  
.btn-dark,
.bg-dark,
.badge-dark,
.alert-dark {
    background: var(--dark-color);
    color: #fff;
    
}
  
.btn-danger,
.bg-danger,
.badge-danger,
.alert-danger {
    background: var(--danger-color);
    color: #fff;
}
  
.btn-success,
.bg-success,
.badge-success,
.alert-success {
    background: var(--success-color);
    color: #fff;
}
  
.btn-white,
.bg-white,
.badge-white,
.alert-white {
    background: #fff;
    color: #333;
    border: #ccc solid 1px;
}
  
.btn:hover {
    opacity: 0.7;
}
  
.bg-light,
.badge-light {
    border: #ccc solid 1px;
}
  
.round-img {
    border-radius: 50%;
}

.round-corner-img {
    border-radius: 25px;
}

input {
    margin: 1.2rem 0;
}
  
.form-text {
    display: block;
    margin-top: 0.3rem;
    color: #888;
}
  
input[type='text'],
input[type='email'],
input[type='password'],
input[type='date'],
select,
textarea {
    display: block;
    width: 100%;
    padding: 0.4rem;
    font-size: 1.2rem;
    border: 1px solid #ccc;
    border-radius: 25px;
}
  
input[type='submit'],
button {
    font: inherit;
}

input:focus,
button:focus {
    outline: none;
    box-shadow: 0 0.5rem 1rem rgba(0,0,0,0.2);
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.7rem 2rem;
    z-index: 1;
    width: 100%;
    opacity: 0.9;
    margin-bottom: 1rem;
}
  
.navbar ul {
    display: flex;
}
  
.navbar a {
    color: #fff;
    padding: 0.45rem;
    margin: 0 0.25rem;
}
  
.navbar a:hover {
    color: var(--light-color);
}
  
.navbar .welcome span {
    margin-right: 0.6rem;
}

.navbar-title {
    margin-left: 60px;
}

.navbar-img {
    width: 40px;
    height: 40px;
    position: absolute;
}

.card {
    cursor: pointer;
    background-color: transparent;
    height: 440px;
    perspective: 1000px;
}
  
.card h1 {
    font-size: 25px;
    text-align: center;
    padding-bottom: 10px;
    margin-top: 130px;
    margin-bottom: 5px;
}
  
.card img {
    width: 100%;
    height: 440px;
    object-fit: cover;
}
  
.card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}
  
.card:hover .card-inner {
    transform: rotateY(180deg);
}
  
.card-front,
.card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}
  
.card-back {
    background-image: linear-gradient(to top, #00c6fb 0%, #0047ab 100%);
    color: white;
    padding: 20px;
    transform: rotateY(180deg);
}
  
.card li {
    list-style: none;
    padding-bottom: 10px;
}

.bg-container {
    padding: 1rem;
    border: #ccc 1px dotted;
    margin: 0.7rem 0;
  }

@media (max-width: 700px) {
    .hide-sm {
      display: none;
    }
  
    .grid-2,
    .grid-3,
    .grid-4 {
      grid-template-columns: 1fr;
    }
  
    
    .x-large {
      font-size: 2rem;
    }
  
    .large {
      font-size: 1.6rem;
    }

    .medium {
        font-size: 1.3rem;
    }
  
    .lead {
      font-size: 1rem;
    }
  
    .navbar {
      display: block;
      text-align: center;
    }
  
    .navbar ul {
      text-align: center;
      justify-content: center;
    }
}